USE [master]
GO
/****** Object:  Database [SimpleLibDB]    Script Date: 09.03.2013 18:33:34 ******/
CREATE DATABASE [SimpleLibDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SimpleLibDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\SimpleLibDB.mdf' , SIZE = 20544KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SimpleLibDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\SimpleLibDB.ldf' , SIZE = 1536KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SimpleLibDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SimpleLibDB]
GO
/****** Object:  Table [dbo].[BooksSet]    Script Date: 09.03.2013 18:33:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BooksSet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Author] [nvarchar](max) NOT NULL,
	[Publisher] [nvarchar](max) NULL,
	[Year] [int] NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_BooksSet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
USE [master]
GO
